// Custom.scss
// Option A: Include all of Bootstrap
$h1-font-size: 4rem;
$h2-font-size: 2.441rem;
$h3-font-size: 1.953rem;
$h4-font-size: 1.563rem;
$h5-font-size: 1.25rem;
$h6-font-size:  1rem; 
// Include any default variable overrides here (though functions won't be available)


@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Wix+Madefor+Display&display=swap');

$headings-font-family: 'roboto', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

header img {
    margin: 30px 0 40px;
}

.container {
    text-align: center; 
}

.container-fluid {
    justify-content: space-between;
}

.nav-item {
    width: 16.66%;
}


.row p {
    font-size: 20px;
}

.body {
    background-color: pink;
}

footer .d-flex img {
    width: 70px;
    
}

.icon-link {

    padding: 10px;
    border-radius: 20px;
}

.block-link > a {
    display: block;
}
/* Style for the image */

.first-image {
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 100px;
}

.text-body {
    margin-left: 310px;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 150px;
}

.text-body {
    font-size: 22px;
}

.color {
    background-color: pink;
}

.pink {
    background-color: pink;
    padding-top: 10px;
}

.me {
    margin-left: 200px;
    margin-top: 50px;
}

.name {
    margin-left: 400px;
    margin-top: 40px;
}

.message {
    margin-left: 200px;
}

.email {
    margin-left: 250px;
}

.full {
    margin-left: 200px;
}

.cake {
    font-weight: bold;
    color: #9e2061;
}